apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: survival-server-minecraft-datadir
  namespace: minecraft
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 20Gi
